body {
    background-color: orange;
    margin: 0;
    font-family: 'Kulim Park', sans-serif;
    color: white;
}

.card {
    list-style: none;
    padding: 10px;
    margin: 10px;
    background-color: papayawhip;
    color: rgb(46, 36, 32);
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(-0px);
    }
}

.card-title {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 0;
}

.card-subtitle {
    font-weight: lighter;
    color: dimgray;
    margin-top: 5px;
}

.card-image {
    height: 200px;
    border: 1px solid black;
    background-color: rgb(253, 253, 253);
    margin-top: 5px;
}

.container-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 10px;
    margin: 0 auto; 
}

.container-main {
    display: flex;
    flex-direction: row;
}

#pokedex {
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}

#container-info {
    margin-top: 2vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-info {
    position: fixed;
    min-width: 30vw;

}

.card-image-l {
    border: 1px solid black;
    height: 200px;
}

.info-attr {
    width: 100%;
    margin: 5% auto;
    

}

.table, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.button {
    background-color: rgb(32, 92, 204);
    color: white;
    font: 24px 'Arial';
    border-radius: 25px;
    width: 80%;
    padding: 20px;
    border: 0;
}

.card-type {
    padding: 5px;
    border-radius: 5px;
}
.poison {
    background-color: rgb(100, 71, 100);
}

.grass {
    background-color: rgb(77, 116, 89);
}

.fire {
    background-color: rgb(197, 152, 93);
}

.water{
    background-color: rgb(77, 95, 116);
}

.flying {
    background-color: rgb(127, 114, 245);
}

.bug {
    background-color: rgb(153, 214, 137);
}

.electric {
    background-color: rgb(229, 240, 73);
}

.normal {
    background-color: rgba(178, 199, 184, 0.726);
}

.ice {
    background-color: rgb(147, 216, 248);
}

.fighting {
    background-color: rgb(116, 73, 33);
}

.ground {
    background-color: rgb(172, 148, 82);
}

.psychic {
    background-color: rgb(216, 111, 160);
}

.rock {
    background-color: rgb(163, 155, 119);
}

.ghost {
    background-color: rgb(94, 76, 143);
}

.dragon {
    background-color: rgb(91, 53, 117);
}

.dark {
    background-color: rgba(151, 112, 85, 0.671);
}

.steel {
    background-color: rgba(141, 141, 141, 0.623);
}

.fairy {
    background-color: rgba(253, 182, 240, 0.815);
}

@media screen and (min-width: 320px ) and (max-width: 539px) {
    .container-main {
        flex-wrap: wrap;
        height: auto;
    }

    .container-info {
        position: relative;
    }
  }

  @media screen and (min-width: 540px ) and (max-width: 768px) {
      .container-list {
          width: 60vw;
      }

      .container-info {
          margin-top: 1vh;

      }
  }

  @media screen and (min-width: 769px ) and (max-width: 860px) {
    .container-list {
        width: 80vw;
    }
  }